/out/production/startKotlin/javaPrac/Person.class
/out/production/startKotlin/javaPrac/PracticeJava.class
/out/production/startKotlin/kotlinPrac/PracticeKotlinKt.class
/out/production/startKotlin/META-INF/startKotlin.kotlin_module
